.blog {
    padding: 145px 0 175px;
}

.blog-subtitle {
    margin: 0 auto;
}

.blog-title{
    text-align: center;
    margin: 8px 0 144px;
}

.slider-blog-wrapper {
    width: 360px;
    margin: 0 auto;
}

.slider-blog-wrapper img{
    border-radius: 8px 8px 0 0;
}

.slider-blog-content {
    border-radius: 0px 0px 8px 8px;
    border-right: 1px solid #F1F1F1;
    border-bottom: 1px solid #F1F1F1;
    border-left: 1px solid  #F1F1F1;
    padding: 16px 16px 19px 16px;
    color: var(--color-secondary);
}

.slider-blog-title {
    font-family: var(--ff-jacarta);
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    display: block;
}

.slider-blog-data {
    display: block;
    margin: 16px 0 20px;
    padding: 4px 0;
    border-radius: 4px;
    background: #FBFBFB;
    width: 95px;
}

.slider-blog-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 42px;
}

.slider-blog-link {
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 120px;
    font-size: 14px;
}