.contact {
    background: var(--bg-section);
    padding: 104px 0 134px;
}

.dark .contact {
    background: var(--bg-dark);
}

.contact-wrapper{
    display: flex;
    align-items: center;
    gap: 104px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
}

.contact-form input{
    width: 100%;
    background: var(--color-white);
    margin-bottom: 16px;
    border: none;
    padding: 15px 24px;
    border-radius: 8px;
}